{{ define "header" }}
<link rel="stylesheet" href='{{ (resources.Get "/css/companies.css" | resources.Minify).RelPermalink }}' />
<link rel="stylesheet" href='{{ (resources.Get "/css/booth.css" | resources.Minify).RelPermalink }}' />
{{ end }}

{{ define "main" }}
<ul class="inner companies">
	{{ range sort .Pages "RelPermalink" }}
		<li class="companies__item">
			<details class="companies__details">
				<summary class="companies__summary">
					<h3 class="companies__title">
						<a class="companies__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
					</h3>
					{{ with .Params.booth }}
					{{ partial "booth" (dict "booth" . "className" "companies__booth") }}
					{{ end }}
				</summary>
				{{ .Content }}
			</details>
		</li>
	{{end}}
</ul>
{{ end }}
