{{ define "main" }}
<div class="company-image-bg">
  {{ if isset .Params "logo" }}
  <img src="/media/{{ .Params.logo }}" />
  {{ else }}
  <div class="spacer"></div>
  {{ end }}
</div>

<div class="row actions-row {{ if isset .Params "booth" }}max{{end}}">
  <div class="small-4 columns left">
    {{ if isset .Params "booth" }}
    <div class="booth-pre">{{ i18n "booth" }}</div>
    <div class="booth"><span class="booth-text">{{.Params.booth}}</span></div>
    {{ else }}
    <div class="no-booth">{{ i18n "noBooth" }}</div>
    {{ end }}
  </div>
  <div class="small-8 columns right">
    {{ if isset .Params "booth" }}
    <a class="button action-button" href="/map/#booth-{{.Params.booth}}"><span class="fi-map"></span>&nbsp; {{ i18n "viewOnMap" }}</a>
    {{ end }}

  </div>
</div>

<hr />

<div class="row">
  <div class="small-12 columns">
    <h1>{{ .Title }}</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    {{ .Content }}
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <table class="contact">
      {{ with .Params.website }}
      <tr>
        <td class="icon"><i class="fa fa-globe"></i></td>
        <td><a href="{{ . }}">{{ . }}</a></td>
      </tr>
      {{end}}
      {{ with .Params.facebook }}
      <tr>
        <td class="icon"><i class="fi-social-facebook"></i></td>
        <td><a href="{{ . }}">{{ i18n "companyFacebook" }}</a></td>
      </tr>
      {{end}}
      {{ with .Params.twitter }}
      <tr>
        <td class="icon"><i class="fi-social-twitter"></i></td>
        <td><a href="{{ . }}">{{ i18n "companyTwitter" }}</a></td>
      </tr>
      {{end}}
      {{ with .Params.linkedin }}
      <tr>
        <td class="icon"><i class="fi-social-linkedin"></i></td>
        <td><a href="{{ . }}">{{ i18n "companyLinkedIn" }}</a></td>
      </tr>
      {{end}}
      {{ with .Params.email }}
      <tr>
        <td class="icon"><i class="fa fa-envelope-o"></i></td>
        <td><a href="mailto:{{ . }}">{{ . }}</a></td>
      </tr>
      {{end}}
    </table>
  </div>
</div>
{{ end }}
