<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{ if ne .Title .Site.Title }}{{.Title}} -{{ end }}
            {{.Site.Title}} {{dateFormat "2006" .Site.Params.date}}
        </title>

        <link
            href="http://fonts.googleapis.com/css?family=Open+Sans:400,700"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="icon" type="image/png" href="/img/favicon.png" />

        {{ $css := resources.Get "/css/tcf.css" | resources.Minify }}
        <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
        {{ template "_internal/google_analytics_async.html" . }}

        <!-- Page-Specific Header -->
        {{ block "header" . }}
        {{ end }}
    </head>

    <body class="tcf__container">
        <div class="tcf">
            <header class="tcf-header">
                <button class="tcf-header__menu-button hover" type="button">&#9776;</button>
                <a href="/" class="logo">
                    <h1 class="logo__text">
                        <img src="/img/logo.svg" height="30" class="logo__img" alt="TCF"><span class="logo__year">{{ dateFormat "06" .Site.Params.date }}</span>
                    </h1>
                </a>
            </header>

            <aside class="tcf-menu">
                {{ partial "menu" . }}
            </aside>

            <main class="tcf-main">
                {{ block "main" . }}
                {{ end }}
            </main>

            <a class="tcf-menu__overlay"></a>
        </div>
    </body>
    <script>
        function toggleMenu() {
            document.querySelector('.tcf').classList.toggle('tcf--menu-open');
        }

        document.querySelector('.tcf-header__menu-button').addEventListener('click', toggleMenu);
        document.querySelector('.tcf-menu__overlay').addEventListener('click', toggleMenu);
    </script>
</html>
