{{ define "header" }}
<link rel="stylesheet" href='{{ (resources.Get "/css/booth.css" | resources.Minify).RelPermalink }}' />
<link rel="stylesheet" href='{{ (resources.Get "/css/map.css" | resources.Minify).RelPermalink }}' />
{{ end }}

{{ define "main" }}
<div class="map__instructions">
    <p class="inner">
        {{ i18n "selectBooth" }}
    </p>
</div>

<div class="map inner">
    {{ range sort (.GetPage "/companies").Pages "Params.booth" }}
    <a id="booth-{{ .Params.booth }}" class="hover booth map__booth" href="{{ .RelPermalink }}">
        <div class="booth__inner">
            <h5 class="booth__number">{{ .Params.booth }}</h5>
            <p class="booth__company">{{ .Title }}</p>
        </div>
    </a>
    {{ end }}
</div>

<div class="map__front-desk inner">
    {{ i18n "checkInTable" }}
</div>
{{ end }}
