.map__instructions {
    text-align: center;
    background: #3a6fa7;
    color: #fff;
}
.map__front-desk {
    text-align: center;
    font-size: 1.6em;
}

.map {
    display: flex;
    justify-content: space-between;
}
.map__column {
    flex: 1;
}
.map__column:first-child {
    margin-right: 5%;
}
.map__column:last-child {
    margin-left: 5%;
}
.map__booth {
    display: flex;
    margin: 2px;
    height: auto;
}
.map__booth:nth-child(4) {
    margin-bottom: 5vmin;
}
.map__booth:target {
    background: #900000;
}
.map__booth::after {
    /* Force booth to be square */
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    padding-bottom: 100%;
}
.booth__inner {
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: center;
}
.booth__number {
    font-size: 7vmin;
}
.booth__company {
    margin: 0 .25em;

    font-size: 2vmin;
}
