body {
    --header-height: 4rem;
    --menu-width: 15rem;

    margin: 0;

    font-family: 'Open Sans', sans-serif;
}

/**
 * Hover effect for buttons
 */
.hover {
    position: relative;
    z-index: 1;
}
.hover::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    content: '';
    background: black;
    opacity: 0;
    transition: 0.3s ease-out opacity;
}
.hover:hover::before, .hover:focus::before {
    opacity: 0.15;
}

/**
 * Centered content
 */
.inner {
    max-width: 60.5em;
    margin: auto;
    padding: 1em;
}

/**
 * TCF header and sidebar
 */
.tcf {
    min-height: 100vh;
    display: grid;

    grid-template:
        "menu header" var(--header-height)
        "menu main" auto
        / var(--menu-width) auto;
}
.tcf__container {
    overflow-x: hidden;
}

.tcf-header {
    grid-area: header;
    display: flex;
    align-items: center;
    line-height: var(--header-height);

    background: #094b91;
    color: #fff;
    text-align: center;
}
.tcf-header__menu-button {
    display: none;
    margin: 0 .75rem;
    padding: 0;
    height: 2.1rem;
    width: 2.1rem;
    line-height: 2.1rem;

    font-family: inherit;
    color: inherit;
    font-size: 1.4em;
    cursor: pointer;
    background-color: #3a6fa7;
    border-radius: 3px;
    border: 0;
}
.logo {
    flex-grow: 1;

    color: inherit;
    text-decoration: inherit;
}
.logo__text {
    margin: 0;

    font-size: 2.6em;
}
.logo__year {
    color: #90c7ff;
}


.tcf-menu {
    grid-area: menu;

    background: #333;
}
.tcf-menu__heading {
    margin: 0;
    padding: 0 .9rem;
    line-height: var(--header-height);

    font-size: 2rem;
    font-weight: 400;
    background: #3a6fa7;
    color: #fff;
}
.tcf-menu__list {
    margin: 0;
    padding: 0;

    background: #094b91;
}
.tcf-menu__item {
    display: block;
    padding: 1.2em;

    color: rgba(255,255,255,0.9);
    text-decoration: none;
    border-bottom: 1px solid #063466;
}

.tcf-menu__overlay {
    grid-column-start: main;
    grid-row-start: header;
    grid-row-end: main;
    z-index: 5;

    visibility: hidden;
    background: #000;
    box-shadow:
        -4px 0 4px rgba(0,0,0,.5),
        4px 0 4px rgba(0,0,0,.5);
    opacity: 0;
}
.tcf--menu-open .tcf-menu__overlay {
    visibility: visible;
    opacity: 0.3;
}

.tcf-main {
    grid-area: main;
}

@media (max-width: 55rem) {
    .tcf {
        width: calc(100% + var(--menu-width));

        transition: transform 0.3s ease;
        transform: translateX(calc(var(--menu-width) * -1));
    }
    .tcf--menu-open {
        transform: none;
    }
    .tcf-header__menu-button {
        display: block;
    }
}

/**
 * Action buttons
 */
.action-button {
    display: block;
    padding: 1.5em 3em;

    color: white;
    background: #094b91;
    text-decoration: inherit;
    text-align: center;
}
.action-button--secondary {
    background: #052d57;
}
